altgraph==0.17.2
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pefile==2021.9.3
psycopg==3.0.7
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pywin32-ctypes==0.2.0
SQLAlchemy==1.4.29
Werkzeug==2.0.2